@using BootstrapSupport
@model Object
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
        <h4>@Model.GetLabel() <small>Details</small></h4>
        foreach (var property in Model.VisibleProperties())
        {
            <div class="form-group">
                @Html.Label(property.Name.ToSeparatedWords(), new {@class=""})
                    @Html.Editor(property.Name,new { htmlAttributes = new { @class = "form-control" }, })

                    @Html.ValidationMessage(property.Name, null, new { @class = "help-block" })    
            </div>
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-link " })
          </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("input").addClass("form-control")
    });
</script>

